{% load static %}

<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


<h2 id="status">
    {% if status %}
    <span style="color: green;" class="badge badge-pill badge-success">Online</span>
    <span style="color: green;" class="badge badge-pill badge-success">
        {{people_online}} user online
    </span>
    {%else%}
    <span style="color: grey;" class="badge badge-secondary">Offline</span>
    <span style="color: grey;" class="badge badge-pill badge-success">
        {{people_online}} user online
    </span>
    {%endif%}


</h2>