{% extends "index.html" %}
{% load static %}
{% load artproductserializer %}
{% load i18n %}
{% load allauth account %}

<!DOCTYPE html>
<html lang="en">

{% block content %}
<div class="col-sm-9 padding-right">
    <div class="features_items"><!--features_items-->
        <h2 class="title text-center">Features Items</h2>

        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        {%if products.id|firstartpictures %}
                        <img src="{{products.id|firstartpictures}}" alt="" />
                        {%else%}
                        <img src="" alt="{{products.name}}" />
                        {%endif%}
                        <h2>$56</h2>
                        <p>{{products.description}}</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                            cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            {%if products|secondartpictures %}
                            <img src="{{products|secondartpictures}}" alt="" />
                            {%else%}
                            <img src="" alt="{{products.name}}" />
                            {%endif%}
                            <h2>$56</h2>
                            <p>Easy Polo Black Edition</p>
                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                                cart</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </div><!--features_items-->
</div>
{% endblock content %}

</html>