{% extends "indexx.html" %}
{% load static %}
{% load artproductserializer %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

{%block modal%}
{%endblock modal%}
{% block productlist %}
<section class="product-list">
    {% for art in page_obj.object_list %}
    {%if art.sold == True%}
    <div class="product ">
        <img src="{{art|firstartpictures}}" alt="Product 1">
        <div class="sold-tag">Sold</div>
        <h3>{{art.name}}</h3>
        <p>${{art.price}}</p>
        <button>Add to Cart</button>

        <div>
            <div class="single-products">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Length</th>
                            <th scope="col">Width</th>
                            <th scope="col">Height</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Frame</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{products.length}} inches</td>
                            <td>{{products.width}} inches</td>
                            <td>{{products.height}} inches</td>
                            <td>{{products.weight}} kg</td>
                            <td>{{products.frame}}</td>
                        </tr>
                    </tbody>
                </table>

                <div>{{products.description}}</div>
            </div>

        </div>
    </div>
    {%else%}
    <div class="product">
        <img src="{{art|firstartpictures}}" alt="Product 1">
        <h3>{{art.name}}</h3>
        <p>${{art.price}}</p>
        <button>Add to Cart</button>

        <div>
            <div class="single-products">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Length</th>
                            <th scope="col">Width</th>
                            <th scope="col">Height</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Frame</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{art.length}} inches</td>
                            <td>{{art.width}} inches</td>
                            <td>{{art.height}} inches</td>
                            <td>{{art.weight}} kg</td>
                            <td>{{art.frame}}</td>
                        </tr>
                    </tbody>
                </table>
                <div>{{art.description}}</div>
            </div>

        </div>
    </div>

    {%endif%}

    {%endfor%}

</section>
<div>
    <ul class="pagination">
        {%if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}"> Previous_Page </a>
        {% endif %}
        <li style="list-style: none" class="active"><a href="">{{page_obj.number}}</a></li>
        {%if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next_Page</a>
        {% endif %}
    </ul>
</div>
{% endblock productlist %}


{%block tabular_display%}
{%endblock tabular_display%}
{%block category%}
{%endblock category%}

</html>