{% extends "indexx.html" %}
{% load static %}
{% load artproductserializer %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

{%block modal%}
{%endblock modal%}
{% block productlist %}
<section class="product-list" style="
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
    padding: 20px;
">
    {% for art in page_obj.object_list %}
    {%if art.sold == True%}
    <div class="product ">
        <img src="{{art|firstartpictures}}" alt="Product 1">
        <div class="sold-tag">Sold</div>
        <h3>{{art.name}}</h3>
        <p>${{art.price}}</p>
        <button>Add to Cart</button>

    </div>
    {%else%}
    <div class="product">
        <img src="{{art|firstartpictures}}" alt="Product 1">
        <h3>{{art.name}}</h3>
        <p>${{art.price}}</p>
        <button>Add to Cart</button>

    </div>

    {%endif%}
    <div>
        <div class="single-products">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Length</th>
                        <th scope="col">Width</th>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Frame</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{art.length}} inches</td>
                        <td>{{art.width}} inches</td>
                        <td>{{art.height}} inches</td>
                        <td>{{art.weight}} kg</td>
                        <td>{{art.frame}}</td>
                    </tr>
                </tbody>
            </table>

            <div>{{products.description}}</div>
        </div>

    </div>
    {%endfor%}


</section>
{% endblock productlist %}


{%block tabular_display%}
{%endblock tabular_display%}
{%block category%}
{%endblock category%}

</html>