{% extends "index.html" %}
{% load static %}

{% block content %}
{% include 'partials/messagepop.html' %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <h2>Update Profile Picture</h2>
                <form method="POST" action="{% url 'profile_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="update_picture">
                    {{update_picture_form.as_p}}
                    <button type="submit" class="btn btn-default">Update Picture</button>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <h2>Update Personal Details </h2>
                <form method="POST" action="{% url 'profile_view' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="update_picture">
                    {{update_customer_form.as_p}}
                    <button type="submit" class="btn btn-default">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <h2>Update Password</h2>
                <form method="POST" action="{% url 'profile_view' %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="update_password">
                    <div>
                        <label for="password">
                            Current Password
                        </label>
                        <input id="password" name="password" type="password">
                    </div>

                    <div>
                        <label for="new_password">
                            New Password
                        </label>
                        <input id="new_password" name="new_password" type="password">
                    </div>
                    <button type="submit" class="btn btn-default">Update Password</button>
                </form>
            </div>
        </div>
    </div>
    <hr />
</div>
{% endblock content %}

{% block tabular_display %}
{% endblock tabular_display %}

{% block slider %}
{% endblock slider %}

{% block category %}
{% endblock category %}

{% block brands %}
{% endblock brands %}

{% block footer %}
{% endblock footer %}